div.job {
    position: relative;
    flex: 0 1 calc(33.33% - 2rem);
    min-height: 400px;
    margin: 1rem;
    background: #f4f4f4;
    border-radius: 0.25rem;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-flow: column;
}

div.job div.job-options {
    position: absolute;
    top: 15px;
    right: 15px;
    color: #757575;
    cursor: pointer;
    font-weight: bold;
}

div.job div.job-heading {
    padding: 1rem;
    margin-bottom: 0.25rem;
}

div.job div.job-heading span.job-company {
    font-weight: bold;
    font-size: 1.5rem;
    margin-right: 0.5rem;
}

div.job div.job-heading span.job-position {
    color: #757575;
    margin-right: 0.5rem;
}

div.job div.job-heading span.job-status {
    padding: 0.25rem 0.5rem;
    border-radius: 0.25rem;
}

div.job div.job-heading span.job-status.send {
    background: #f49f45;
    color: white;
}

div.job div.job-heading span.job-status.applied,
div.job div.job-heading span.job-status.interview,
div.job div.job-heading span.job-status.offer {
    background: #d2d2d2;
    color: black;
}

div.job div.job-heading span.job-status.accepted {
    background: #73c700;
    color: white;
}

div.job div.job-heading span.job-status.rejected {
    background: #fb7676;
    color: white;
}

div.job div.job-notes {
    padding: 0 1rem 1rem 1rem;
}

div.job div.job-notes h3 {
    margin-top: 0;
}

div.job div.files {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: auto;
    padding: 1rem;
    border-top: 1px solid #b8b7b7;
}

div.job div.files div.file-resume,
div.job div.files div.file-coverletter {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    cursor: pointer;
}

div.job div.files div.file-resume i,
div.job div.files div.file-coverletter i {
    margin-right: 0.25rem;
}

div.job div.files div.file-resume {
}
div.job div.files div.file-coverletter {
}
