div.container {
    height: 100%;
    position: relative;
    padding: 1rem;
}

div.container h1 {
    color: white;
}

div.container div.jobs-container {
    display: flex;
    flex-flow: row wrap;
}

button.float {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    border-radius: 50%;
    height: 60px;
    width: 60px;
    padding: 0;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.3);
    text-align: center;
    color: #233d00;
}
