nav {
    width: 100%;
    padding: 0.85rem 1rem;
    display: flex;
    background: white;
    color: white;
}

nav div.left,
nav div.right {
    flex: 1;
    display: flex;
    align-items: center;
}

nav div.left {
    justify-content: flex-start;
}
nav div.right {
    justify-content: flex-end;
}

nav div.left a.logo{
    text-decoration: none;
    border-bottom: 1px solid #73c700;
    color: #73c700;
    font-size: 1.5rem;
    padding-bottom: 0.25rem;
}

nav div.right > :not(:last-child){
    margin-right: 1rem;
}